<p>search works!</p>
<p>search works!</p>

<div class="container">
    <table class="table table-primary col-sm-5">
        <tr>
            <th>Vehicle ID</th>
            <th>Vehicle Number</th>
            <th>Vehicle Name</th>
            <th>Price</th>
            <th>Purchase Date</th>
        </tr>
        <tr>
            <td>{{vehicle.vehicleId}}</td>
            <td>{{vehicle.vehicleNumber}}</td>
            <td>{{vehicle.vehicleName}}</td>
            <td>{{vehicle.price}}</td>
            <td>{{vehicle.purchaseDate | date}}</td>
        </tr>
    </table>
</div>
