<p>displayall works!</p>
<p>displayall works!</p>

<!-- <button type="button" class="btn btn-primary" (click)="getAllVehicles()">Display All Vehicles</button> -->

<div class="container">
    <table class="table table-primary col-sm-5">
        <tr>
            <th>SNO.</th>
            <th>Vehicle ID</th>
            <th>Vehicle Number</th>
            <th>Vehicle Name</th>
            <th>Price</th>
            <th>Purchase Date</th>
            <th>DELETE</th>
        </tr>
        <tr *ngFor="let vehicle of vehicleList; index as i">
            <td>{{i + 1}}</td>
            <td>{{vehicle.vehicleId}}</td>
            <td>{{vehicle.vehicleNumber}}</td>
            <td>{{vehicle.vehicleName}}</td>
            <td>{{vehicle.price}}</td>
            <td>{{vehicle.purchaseDate | date}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="deleteById(vehicle.vehicleId)">Delete</button>
            </td>
        </tr>
    </table>
</div>
